{{ 'section-masonry.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .gallery .images .img {
    border-radius: {{ section.settings.border_radius }}px;
  }
{%- endstyle -%}

<div class="lightbox">
  <div class="wrapper">
    <header>
      <div class="details">
        <i class="uil uil-camera"></i>
        <span class="preview_desc"></span>
      </div>
      <div class="buttons"><i class="close-icon uil uil-times"></i></div>
    </header>
    <div class="preview-img">
      <div class="img"><img src="" alt="preview-img"></div>
    </div>
  </div>
</div>


<div class="page-width masonry">
  <h2 class="h1">{{  section.settings.headline }}</h2>


  <section class="gallery">
    <ul class="images">
      {% for block in section.blocks %}
        <li class="img">
          {%- if block.settings.image -%}
            {{
              block.settings.image
              | image_url: width: 700
              | image_tag: class: 'masonry__image grid-image'
            }}
            <div class="img__desc">{{ block.settings.description }}</div>
          {%- endif -%}
        </li>
      {% endfor %}
  
    </ul>
  </section>
</div>

<script src="{{ 'masonry.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "Masonry",
  "settings": [
    {
      "type": "text",
      "label": "headline",
      "id": "headline"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 25,
      "step": 1,
      "unit": "px",
      "label": "Image Border Radius",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "image",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },   
        {
          "type": "text",
          "id": "description",
          "label": "description"
        },          
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Masonry",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}